*{
    margin: 0px;
    padding: 0px; 
   
    
} 

body{ 
    background-color: blue;
}
h1{
    display: flex; 
    justify-content: center; 
    padding-top: 150px;
}
      
.container{
    display: flex;  
    justify-content: center;
} 

h2{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white; 
    padding-top: 20px;
    
    
}

